.container
    .row.pt_50
        .col.page_content
            .switcher_full_width
                .switcher
                    span.text REGULAR
                    .switcher_wrapper
                        .tumbler
                    span.text PLAY-OFF
            -var th1=['#','Player','Wins','GW','Last WK'];

            .switcher_tabs
                .tab_regular
                    .table_box.mb_20
                        table.table_regular
                            thead
                                tr
                                    for th1_item, index in th1
                                        th=th1_item
                            tdody
                                -for (var tr1 = 1; tr1 <= 10; tr1++)
                                    tr
                                        td #{tr1}
                                        td Dave Crudele
                                        td #{tr1}0
                                        td 2#{tr1}
                                        td #{tr1} - 0
                .tab_play-off
                    .sort.j_center
                        -var sort1 = ['', 'Semi Final 1', 'Semi Final 2', 'Final'];
                        ul.sort_nav.mb_30
                            -for (var sn1 = 1; sn1 <= 3; sn1++)
                                                               if sn1 === 3
                                                                   li.active
                                                                       a(href="#")=sort1[sn1]
                                                               else
                                                                   li
                                                                       a(href="#")=sort1[sn1]
                    -var th2 = ['Player', 'Game 1', 'Game 2', 'Game 3', 'GW'];
                    .table_box.mb_20
                        table.table_play-off
                            thead
                                tr
                                    for th2_item, index in th2
                                        th=th2_item
                            tdody
                                -for (var tr2 = 1; tr2 <= 10; tr2++)
                                      if tr2 === 1
                                          tr
                                              td
                                                  strong Game
                                              td
                                                  strong (2) Wayne
                                              td
                                                  strong (4) Jenny
                                              td
                                                  strong Winner
                                              td
                                                  strong Series
                                      else
                                          tr
                                              td Addams
                                              td 11,702,300
                                              td 66,762,860
                                              td (4)Jenny
                                              if tr1 === 3
                                                  td
                                                      b Wayne: 5
                                              else
                                                  td Wayne: 4
            .main_widjets.b_0.pb_0
                -var th2=['#','Iron Maiden','Score'];
                .h1 Highest Scores
                .sub_title All-Time league
                .row
                    -for (var mw = 1; mw <= 10; mw++)
                        .col.main_widjets_item.regular
                            .table_box
                                table.table_regular
                                    thead
                                        tr
                                            for th2_item, index in th2
                                                th=th2_item
                                    tdody
                                        -for (var tr1 = 1; tr1 <= 3; tr1++)
                                            tr
                                                td #{tr1}
                                                td Mike Ramos
                                                td 347,756,096




        .col.aside
            .h1.text_center Player standings
            select.custom_select
                -for (var s = 1; s <= 3; s++)
                    option Matt Szewczyk #{s}

            .aside_content.p_20
                .widjet
                    .widjet_title.mt_0 Average scores
                    .table_box
                        table.widjet_table
                            thead
                                tr
                                    th #
                                    th Player
                                    th Scores
                            tbody
                                -for (var tr4 = 1; tr4 <= 10; tr4++)
                                    tr
                                        td #{tr4}
                                        td Matt Szewczyk
                                        td 50,000,000
                    .j_center.pt_20
                        a.btn.btn_red.show_more(href="#") Show more
            .aside_content.p_20
                .widjet
                    .widjet_title.mt_0 Highscores
                    select.custom_select
                        -for (var s = 1; s <= 3; s++)
                            option Avengers #{s}
                    .table_box
                        table.widjet_table
                            thead
                                tr
                                    th #
                                    th Player
                                    th Scores
                            tbody
                                -for (var tr4 = 1; tr4 <= 3; tr4++)
                                    tr
                                        td #{tr4}
                                        td Matt Szewczyk
                                        td 50,000,000
                    .j_center.pt_20
                        a.btn.btn_red.show_more(href="#") Show more