.container
    .row.pt_50
        .col.page_content
            .switcher_full_width
                .switcher
                    span.text REGULAR
                    .switcher_wrapper
                        .tumbler
                    span.text PLAY-OFF
            -var th1=['#','Player','Wins','GW','Last WK'];
            -var th2=['#','Iron Maiden','Score'];
            .table_box.mb_20
                table.table_regular
                    thead
                        tr
                            for th1_item, index in th1
                                th=th1_item
                    tdody
                        -for (var tr1 = 1; tr1 <= 10; tr1++)
                            tr
                                td #{tr1}
                                td Dave Crudele
                                td #{tr1}0
                                td 2#{tr1}
                                td #{tr1} - 0
            .main_widjets.b_0.pb_0
                .h1 Highest Scores
                .sub_title All-Time league
                .row
                    -for (var mw = 1; mw <= 10; mw++)
                        .col.main_widjets_item.regular
                            .table_box
                                table.table_regular
                                    thead
                                        tr
                                            for th2_item, index in th2
                                                th=th2_item
                                    tdody
                                        -for (var tr1 = 1; tr1 <= 3; tr1++)
                                            tr
                                                td #{tr1}
                                                td Mike Ramos
                                                td 347,756,096




        .col.aside
            .h1.text_center Player standings
            select.custom_select
                -for (var s = 1; s <= 3; s++)
                    option Matt Szewczyk #{s}

            .aside_content.p_20
                .widjet
                    .widjet_title.mt_0 Average scores
                    .table_box
                        table.widjet_table
                            thead
                                tr
                                    th #
                                    th Player
                                    th Scores
                            tbody
                                -for (var tr4 = 1; tr4 <= 10; tr4++)
                                    tr
                                        td #{tr4}
                                        td Matt Szewczyk
                                        td 50,000,000
                    .j_center.pt_20
                        a.btn.btn_red.show_more(href="#") Show more
            .aside_content.p_20
                .widjet
                    .widjet_title.mt_0 Highscores
                    select.custom_select
                        -for (var s = 1; s <= 3; s++)
                            option Avengers #{s}
                    .table_box
                        table.widjet_table
                            thead
                                tr
                                    th #
                                    th Player
                                    th Scores
                            tbody
                                -for (var tr4 = 1; tr4 <= 3; tr4++)
                                    tr
                                        td #{tr4}
                                        td Matt Szewczyk
                                        td 50,000,000
                    .j_center.pt_20
                        a.btn.btn_red.show_more(href="#") Show more